<h1>Listing usability_reports_checks</h1>

<table>
  <tr>
    <th>Work</th>
    <th>Site</th>
    <th>Service</th>
    <th>Use</th>
    <th>Usability reports submission</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usability_reports_checks.each do |usability_reports_check| %>
  <tr>
    <td><%= usability_reports_check.work %></td>
    <td><%= usability_reports_check.site %></td>
    <td><%= usability_reports_check.service %></td>
    <td><%= usability_reports_check.use %></td>
    <td><%= usability_reports_check.usability_reports_submission %></td>
    <td><%= link_to 'Show', usability_reports_check %></td>
    <td><%= link_to 'Edit', edit_usability_reports_check_path(usability_reports_check) %></td>
    <td><%= link_to 'Destroy', usability_reports_check, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Usability reports check', new_usability_reports_check_path %>
