<%= simple_form_for(@flag) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :service %>
    <%= f.association :site_id %>
    <%= f.select :status, STATUS, include_blank: false %>
    <% if current_user.admin?
    	<%= f.input :flag %>
    <% end %>

    <% if current_user.red? %>
    	<%= f.input :red_flag %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
