%h1 Sites Current Staus
%table.table.table-bordered
  %tr
    %th{colspan: "1"} #
    %th Name
    %th Points
    %th Organization
    - if @current_user.admin?
      %th
      %th
  - @sites.each do |site|
    %tr
      %td= @sites.index(site) + 1
      %td= link_to "Site #{site.number}: #{site.name}", site
      %td= site.points
      - if @current_user.admin?
        %td= link_to raw('<i class="icon-edit"></i> Edit'), edit_site_path(site), class: 'btn btn-primary'
        %td= link_to raw('<i class="icon-warning-sign"></i> Destroy'), site, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
%br/
= link_to raw('<i class="icon-plus-sign"></i> New Site'), new_site_path, class: 'btn btn-success'