%p#notice= notice
%p
  %b Name:
  = @site.name
%p
  %b Organization:
  = @site.organization
%p
  %b Points:
  = @site.points
%p
  %b Number:
  = @site.number
= link_to 'Edit', edit_site_path(@site)
|
\#{link_to 'Back', sites_path}